@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
   <nav class="navbar navbar-expand-lg navbar-dark">
           <div class="container-fluid">
               
               <a class="navbar-brand" href="#" style="font-family: cursive">
                   Family App
               </a>
   
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                   <div class="navbar-nav">
                       <a class="nav-link" href="login">Login</a>
                       <a class="nav-link nvgreen" href="register">Register</a>
                       <AuthorizeView>
                           <a class="nav-link" href="adults">Adults</a>
                           <a class="nav-link" href="addadult">Add Adults</a>
                       </AuthorizeView>
                       
                   </div>
               </div>
           </div>
       </nav>
    
            @Body
</div>

@code
{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"/Login");
        }
    }
}
